* {
    padding: 0px;
    margin: 0px;
 } 
 .navbar {
     z-index: 9;
      width: 100%; 
font-size: 40px;
padding: 5px;
 }

    
    


 .myMargin { 
     position: absolute; 
    width: 100%;
    top: 0;
    
    font-size: 40px;
    font-style: italic;
    
 }
    


 /* .d-flex {
    padding-left: 10em;
    padding-right: 5em;
} */
.myForm {
    margin: 25px;
    font-size: 20px;
    
}
.login{
    margin: 40%;
    border: 2px solid blue;
    padding: 40px;
    background-color: whitesmoke;
     margin-top: 3%; 
   font-size: 20px;
}
.login h2{
    text-align: center;
}
.login input{
    height: 1.5em;
}
.login #login-button{
    width: 100%;
    height: 1.8em;
    color: white;
    background-color: dodgerblue;
    border: dodgerblue;
}
/* p-box */
.container{
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 2%;
}
.p-box{
    border: 3px solid white;
    width: 22%;
    float: left;
    margin-left: 10px;
    height: 25em;
    padding: 5px;
    background-color: rgb(202, 219, 224);
}
h3{
    text-align: center;
}
.p-box p{
    line-height: 1.25em;
    text-align: justify;
}
.p-box a{
    text-decoration: none;
    color: red;
}
/* .img {
    position: absolute; 
    width: 100%;
    top: 0;
    padding-bottom: 70%;
} */
.bg {
    position: absolute;
    width: 100%;
    top: 0;
    padding-bottom: 70%;
}
.nav {
    padding-top: 30%;
    
    font-size: 15px;
}
footer{
    background-color: black;
    color: white;
    height: 1.5em;
    margin-top: 24%;
}
h1 {
    text-align: center;
    padding: 5%;
}
h3 {
    text-align: center;
}



