* {
    padding: 0px;
    margin: 0px;
 } 
 body {
     background-size: cover;
     
 }
 .navbar {
      z-index: 9; 
      width: 100%; 
font-size: 40px;
padding: 10px;
padding-left: 20px;
 }

    
    


 .myMargin { 
     position: absolute; 
    width: 100%;
    top: 0;
    
    font-size: 40px;
    font-style: italic;
    
 }
.myForm {
    margin: 25px;
    font-size: 20px;
    float: right;
    color: black;
}

.btn {
color: white;

}

.login{
    
    margin: 30%;
    border: 2px solid transparent;
    padding: 40px;
    background-color: transparent;
     margin-top: 3%; 
   font-size: 20px;
   margin-bottom: 7%;
   margin-right: 25em;
   color: white;
   
   
}
.login a{
    text-decoration: none;
    color: red;
}
.login h2{
    text-align: center;
}
.login input{
    height: 1.5em;
}
.login #login-button{
    text-decoration: none;
    width: 100%;
    height: 1.8em;
    color:white;
    background-color: dodgerblue; 
     border: dodgerblue; 
    
}
/* p-box */
.container{
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 2%;
}
.p-box{
    border: 3px solid white;
    width: 22%;
    float: left;
    margin-left: 10px;
    height: 26em;
    padding: 5px;
    background-color: rgb(202, 219, 224);
}
h3{
    text-align: center;
    font-style: italic;
}
.p-box p{
    line-height: 1.25em;
    text-align: justify;
}
.p-box a{
    text-decoration: none;
    color: red;
}

.bg {
    position: absolute;
    width: 100%;
    top: 0;
    padding-bottom: 70%;
}
.nav {
    padding-top: 30%;
    
    font-size: 15px;
}

footer{
    background-color: black;
    color: white;
    height: 1.5em;
    margin-top: 24%;
}
h1 {
    text-align: center;
    padding: 5%;
    padding-top: 2%;
    color: tomato;
    font-weight: bold;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
}
h3 {
    text-align: center;
    padding-top: 2%;
}
/* footer */
footer{
    width: 100%;
    background-color: whitesmoke;
    color: black;
     margin-top:38%; 
   height: 10em; 
   border-bottom: 20%;
   
}


a {
    
    padding: 50px;
    font-style: initial;
    padding-left: 25px;
    
    
}
.content{
    padding: 25px;
    background-color: whitesmoke;
}
